<root><Expiration>10/11/2011</Expiration><Products><Product><Name>Test</Name><ShortName>Test ShortName</ShortName><MaximumFunctionalityPrice>1000</MaximumFunctionalityPrice><MinimumPrice>10</MinimumPrice><Modules><Module><Name>Test Module without group</Name><ShortName>testMod1</ShortName><Weight>1</Weight><Key>testMod1K</Key><SecondarySales><Price></Price><Rate>2</Rate></SecondarySales><Deprecated>false</Deprecated><Dependencies></Dependencies></Module></Modules><Capacities><Capacity><Name>Test Capacity without group</Name><ShortName>testCap1</ShortName><Key>testCap1K</Key><Type>2</Type><Deprecated>false</Deprecated><Tiers><Tier><Bound>1</Bound><Price>100</Price></Tier></Tiers></Capacity></Capacities></Product><Product><Name></Name><ShortName></ShortName><MaximumFunctionalityPrice></MaximumFunctionalityPrice><MinimumPrice></MinimumPrice><Modules></Modules><Capacities></Capacities></Product></Products></root>