html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

body {
    font-size: 12px;
    font-family: Arial;
    background-color: #f9f8dd;
    padding: 0;
    margin: 0;
}

.divModelTitle {
    background-color: #000;
    color: white;
}

.divProduct, .divRegion, .divSupportPlan, .divCurrency {
    border: 1px solid #000;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
}

.divModelProducts, .divModelRegions, .divModelCurrencies, .divModelSupportPlans {
    margin: 10px;
}

.divProductTitle, .divRegionTitle, .divSupportPlanTitle, .divCurrencyTitle {
    background-color: #444;
    color: white;
}

.divProductModules {
    padding: 10px;
    padding-right: 5px;
    padding-bottom: 0;
}

.divProductCapacities {
    padding: 10px;
    padding-left: 5px;
    padding-bottom: 0;
}

.divModulesGroup .divModules {
    padding-left: 10px;
    padding-right: 10px;
}

.divCapacitiesGroup .divCapacities {
    padding-left: 10px;
    padding-right: 10px;
}

.divModulesGroup .divGroups {
    padding-left: 10px;
    padding-right: 10px;
}

.divCapacitiesGroup .divGroups {
    padding-left: 10px;
    padding-right: 10px;
}

.divModulesGroup {
    border: 1px solid #e39724;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divCapacitiesGroup {
    border: 1px solid #00acac;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divModulesGroup>.divGroupTitle {
    background-color: #f9a930;
    color: black;
}

.divCapacitiesGroup>.divGroupTitle {
    background-color: #00cccc;
    color: black;
}

.divModules .divModule:first-child {
    margin-top: 5px;
}

.divModules .divModule:last-child {
    margin-bottom: 5px;
}

.divGroups .divModulesGroup:first-child {
    margin-top: 0;
}

.divGroups .divModulesGroup:last-child {
    margin-top: 0;
}

.divCapacities .divCapacity:first-child {
    margin-top: 5px;
}

.divCapacities .divCapacity:last-child {
    margin-bottom: 5px;
}

.divGroups .divCapacitiesGroup:first-child {
    margin-top: 0;
}

.divGroups .divCapacitiesGroup:last-child {
    margin-top: 0;
}

.divModule {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divCapacity {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divTier {
    border: 1px solid #a3a3f4;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divSupportPlanRegion, .divCurrencyRegion {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divDependency.requireDependency {
    border-color: #62d53d;
}

.divDependency.requireCapacityDependency {
    border-color: #e85ee8;
}

.divDependency.excludeDependency {
    border-color: #eb5959;
}

.divDependency {
    border: 1px solid;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divModuleTitle {
    background-color: #e7e6e6;
    color: black;
}

.divCapacityTitle {
    background-color: #e7e6e6;
    color: black;
}

.divTierTitle {
    background-color: #c1c1ff;
    color: black;
}

.divSupportPlanRegionTitle, .divCurrencyRegionTitle {
    background-color: #e7e6e6;
    color: black;
}

.divDependency.requireDependency .divDependencyTitle {
    background-color: #80fe56;
}

.divDependency.requireCapacityDependency .divDependencyTitle {
    background-color: #f282f2;
}

.divDependency.excludeDependency .divDependencyTitle {
    background-color: #ff8888;
}

.divDependencyTitle {
    color: black;
}

.divModules {
    padding-top: 5px;
}

.divCapacities {
    padding-top: 5px;
}

.divGroups {
    padding-top: 5px;
}

.divDependencies {
    padding: 10px;
    padding-bottom: 0;
}

.divTiers {
    padding: 10px;
    padding-bottom: 0;
}

.divSupportPlanRegions {
    padding: 10px;
    padding-bottom: 0;
}

.divCurrencyRegions {
    padding: 10px;
    padding-bottom: 0;
}

.titleTable {
    width: 100%;
    display: table;
}

.titleTableCell {
    display: table-cell;
    padding: 5px;
}

.titleTableCellFill {
    width: 100%;
}

.titleTableCellButton {
    white-space: nowrap;
    cursor: pointer;
}

.divModelSubTitle {
    background-color: #999999;
}

.divModelSubTitle.titleTable>.titleTableCell {
    padding: 6px 10px;
}

.divModelSubTitle.titleTable>.titleTableCellButton {
    color: #000;
}

.divModelSubTitle.titleTable>.titleTableCellButton:hover {
    background-color: #777;
}

.divModelTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #444;
}

.divProductTitle>.titleTable>.titleTableCellButton:hover, .divRegionTitle>.titleTable>.titleTableCellButton:hover,
.divSupportPlanTitle>.titleTable>.titleTableCellButton:hover, .divCurrencyTitle>.titleTable>.titleTableCellButton:hover{
    background-color: #777;
}

.divModulesGroup>.divGroupTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #ffbc57;
}

.divCapacitiesGroup>.divGroupTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #07e8e8;
}

.divModuleTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.divCapacityTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.divTierTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #dadafc;
}

.divSupportPlanRegionTitle>.titleTable>.titleTableCellButton:hover, .divCurrencyRegionTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.divDependency.requireDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #b8fea1;
}

.divDependency.requireCapacityDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #ee9cee;
}

.divDependency.excludeDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #feb5b5;
}

.moduleDrag:hover, .capacityDrag:hover, .groupDrag:hover, .tierDrag:hover, .dependencyDrag:hover, .productDrag:hover {
    background-color: inherit !important;
    cursor: move;
}

.divSettingsPane {
    padding: 10px;
    padding-bottom: 0;
}

.settingInput {
}

.settingsTable {
    width: 90%;
    display: table;
}

.settingsTableRow {
    display: table-row;
}

.settingsTableCell {
    display: table-cell;
    padding-bottom: 5px;
}

.settingsTitle {
    white-space: nowrap;
    padding-right: 5px;
    font-style: italic;
}

.settingsValue {
    width: 100%;
}

.settingsValue input {
    width: 100%;
    padding: 2;
    margin: 0;
    border: 0;
}

.settingsValue select {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 30px;
}

.settingsValueCb {
    text-align: left;
}

.settingsValueCb input {
    margin-left: 0;
}

.deprecated {
    color: #777;
    font-style: italic;
}

.unclickable {
    background-color: inherit !important;
    cursor: inherit !important;
}

.titleTableCellExpText {
    padding-right: 5px;
}

.titleTableCellExpDate {
    padding-left: 0;
}

.titleTableCellExpDate input {
    width: 100px;
}

.divProductContent {
    display: table;
    width: 100%;
}

.divProductModules, .divProductCapacities {
    display: table-cell;
    width: 50%;
}

.hidden {
    display: none;
}

.titleText {
    white-space: normal;
}

.removeButton {
    color: red;
}

.lockDiv {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.lockDiv .animation {
    border: 1pt solid #000;
    -moz-border-radius: 7pt;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-box-shadow: 0 1pt 0 #fff;
    box-shadow: 0 1pt 0 #fff;
    -webkit-box-shadow: 0 1pt 0 #fff;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 13pt;
    line-height: 50pt;
    height: 50pt;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 100pt;
    margin-left: -50pt;
    text-shadow: 0 1pt 0 #000;
}

input.validate.error {
    background-color: red;
}

.divModulesGroup, .divModule, .divCapacitiesGroup, .divCapacity, .divSupportPlan, .divCurrency {
    background-color: #fff;
}

.divDependency.requireCapacityDependency #divValue {
    display: table-row !important;
}

.divDependency.requireCapacityDependency #divIncremental {
    display: table-row !important;
}

.divDependency.requireCapacityDependency.incremental #divFreeOfCharge {
    display: table-row !important;
}

.tab {
    border-radius: 5pt 5pt 0 0;
    -moz-border-radius: 5pt 5pt 0 0;
    -webkit-border-radius: 5pt 5pt 0 0;
}

.tab.selected, .tab.selected:hover {
    background-color: #999999 !important;
    color: #000 !important;
}

.tab:hover {
    background-color: #444 !important;
    color: #fff !important;
}

.divModelTitle>.titleTable>.titleTableCell {
    padding: 3px 10px;
}