html {
    overflow-y: scroll;
    overflow-x: scroll;
    overflow: -moz-scrollbars-both;
}

body {
    background-color: #f9f8dd;
    padding: 0;
    margin: 0;
    min-width: 1200px;
}

body, input, select, textarea {
    font-size: 12px;
    font-family: Arial;
}

.lockText {
    text-align: center;
}

.lockedByYou {
    color: #66FF00;
}

.locked {
    color: #ff3300;
}

.pctTable {
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.pctTable {
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;

}

.wider {
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

.pctTable a {
    color: #ff3300;
}

.pctTable tr td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 5px;
    vertical-align: top;
    text-align: left;
}

.pctTable .head {
    text-align: center;
    white-space: nowrap;
}

.pctTable .right {
    text-align: right;
}

.withLeftMargin {
    margin-left: 20px;
}

.backupImages {
    width: 600px;
}

.withLeftPadding {
    padding-left: 20px;
}

.divModelTitle {
    background-color: #000;
    color: white;
}

.divProductLicenses {
    padding-left: 10px;
    padding-right: 10px;
}

.divProductDependencies {
    padding-left: 10px;
    padding-right: 10px;
}

.divProduct, .divRegion, .divSupportPlan, .divAuthLevel, .divCurrency, .divOracleOption, .divOracleLicense, .divCoefficient, .divUser, .divFile, .divLicense, .divRecommendation, .divTrainingCourse {
    border: 1px solid #000;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
}

.divOracleLicense {
    border: 1px solid #000;
}


.divLicense {
    margin-bottom: 0px;
    margin-top: 10px;
}

.divModelProducts, .divModelRegions, .divModelCurrencies, .divModelOracle, .divCoefficients, .divModelSupportPlans, .divModelAuthLevels, .divModelUsers, .divModelTrainingCourses, .divModelRecommendations, .divModelFiles, .divModelServices {
    margin: 10px;
}

.divProductTitle, .divRegionTitle, .divSupportPlanTitle, .divAuthLevelTitle, .divOracleOptionTitle, .divOracleLicenseTitle, .divCoefficientTitle, .divCurrencyTitle, .divUserTitle, .divTrainingCourseTitle, .divRecommendationTitle, .divFileTitle, .divLicenseTitle {
    background-color: #444;
    color: white;
}

.divOracleLicenseTitle {
    background-color: #9E0000;
    color: white;
}

.divProductModules {
    padding: 10px;
    padding-right: 5px;
    padding-bottom: 0;
}

.divProductCapacities {
    padding: 10px;
    padding-left: 5px;
    padding-bottom: 0;
}

.divModulesGroup .divModules {
    padding-left: 10px;
    padding-right: 10px;
}
.divServicesGroup .divServices {
    padding-left: 10px;
    padding-right: 10px;
}

.divCapacitiesGroup .divCapacities {
    padding-left: 10px;
    padding-right: 10px;
}

.divModulesGroup .divGroups {
    padding-left: 10px;
    padding-right: 10px;
}
.divServicesGroup .divGroups {
    padding-left: 10px;
    padding-right: 10px;
}

.divCapacitiesGroup .divGroups {
    padding-left: 10px;
    padding-right: 10px;
}

.divModulesGroup {
    border: 1px solid #e39724;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.divServicesGroup {
    border: 1px solid #000;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divCapacitiesGroup {
    border: 1px solid #00acac;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divModulesGroup>.divGroupTitle {
    background-color: #f9a930;
    color: black;
}
.divServicesGroup>.divGroupTitle {
    background-color: #444;
    color: white;
}

.divCapacitiesGroup>.divGroupTitle {
    background-color: #00cccc;
    color: black;
}

.divModules .divModule:first-child {
    margin-top: 5px;
}

.divModules .divModule:last-child {
    margin-bottom: 5px;
}

.divServices .divService:first-child {
    margin-top: 5px;
}

.divServices .divService:last-child {
    margin-bottom: 5px;
}

.divCapacityDependencies, .divUserRegions{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.divCapacityDependencies .divDependency:first-child {
    margin-top: 5px;
}

.divCapacityDependencies .divDependency:last-child {
    margin-bottom: 5px;
}

.divUserRegions .divUserRegion:first-child {
    margin-top: 5px;
}

.divUserRegions .divUserRegion:last-child {
    margin-bottom: 5px;
}

.divGroups .divModulesGroup:first-child {
    margin-top: 0;
}

.divGroups .divModulesGroup:last-child {
    margin-top: 0;
}

.divGroups .divServicesGroup:first-child {
    margin-top: 0;
}

.divGroups .divServicesGroup:last-child {
    margin-top: 0;
}

.divGroups .divServicesGroup:first-child {
    margin-top: 0;
}

.divGroups .divServicesGroup:last-child {
    margin-top: 0;
}

.divCapacities .divCapacity:first-child {
    margin-top: 5px;
}

.divCapacities .divCapacity:last-child {
    margin-bottom: 5px;
}

.divGroups .divCapacitiesGroup:first-child {
    margin-top: 0;
}

.divGroups .divCapacitiesGroup:last-child {
    margin-top: 0;
}

.divTiers .divTier:last-child {
    margin-top: 0;
}
.divTiers .divTier:first-child {
    margin-top: 0;
}

.divUserAuthLevels .divUserAuthLevel:last-child {
    margin-top: 0;
}
.divUserAuthLevels .divUserAuthLevel:first-child {
    margin-top: 0;
}

.divModule {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divService {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divCapacity {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divTier, .divUserAuthLevel {
    border: 1px solid #a3a3f4;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divSupportPlanRegion, .divAuthLevelLevel, .divCurrencyRegion, .divRegionProduct, .divUserRegion {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divDependency.requireDependency {
    border-color: #62d53d;
}

.divDependency.requireCapacityDependency {
    border-color: #e85ee8;
}

.divDependency.excludeDependency {
    border-color: #eb5959;
}

.divDependency.recommendationDependency {
    border-color: #E8E856;
}

.divDependency.trainingCourseDependency {
    border-color: #56DEE8;
}
.divDependency.oracleLicenseDependency {
    border-color: #e85656;
}
.divDependency.oracleOptionDependency {
    border-color: #7a6767;
}

.divDependency {
    border: 1px solid;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divProductDependencies .divDependency {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
}

.divModuleTitle {
    background-color: #e7e6e6;
    color: black;
}

.divServiceTitle {
    background-color: #e7e6e6;
    color: black;
}


.divCapacityTitle {
    background-color: #e7e6e6;
    color: black;
}

.divTierTitle, .divUserAuthLevel {
    background-color: #c1c1ff;
    color: black;
}

.divSupportPlanRegionTitle, .divAuthLevelLevelTitle, .divCurrencyRegionTitle, .divRegionProductTitle, .divUserRegionTitle {
    background-color: #e7e6e6;
    color: black;
}

.divDependency.requireDependency .divDependencyTitle {
    background-color: #80fe56;
}

.divDependency.requireCapacityDependency .divDependencyTitle {
    background-color: #f282f2;
}

.divDependency.excludeDependency .divDependencyTitle {
    background-color: #ff8888;
}

.divDependency.recommendationDependency .divDependencyTitle {
    background-color: #FFF788;
}

.divDependency.trainingCourseDependency .divDependencyTitle {
    background-color: #88F7FF;
}
.divDependency.oracleLicenseDependency .divDependencyTitle {
    background-color: #ff8888;
}
.divDependency.oracleOptionDependency .divDependencyTitle {
    background-color: #969696;
}

.divDependencyTitle {
    color: black;
}

.divModules {
    padding-top: 5px;
}

.divServices {
    padding-top: 5px;
}
.divCapacities {
    padding-top: 5px;
}

.divGroups {
    padding-top: 5px;
}

.divDependencies, .divTiers, .divUserAuthLevels, .divSupportPlanRegions, .divAuthLevelLevels, .divCurrencyRegions, .divRegionProducts {
    padding: 10px;
    padding-bottom: 0;
}

.divTiers, .divUserAuthLevels {
    padding-top: 5px;
}

.titleTable {
    width: 100%;
    display: table;
}

.titleTableCell {
    display: table-cell;
    padding: 5px;
}

.titleTableCellFill {
    width: 100%;
}

.titleTableCellButton {
    white-space: nowrap;
    cursor: pointer;
}

.divModelSubTitle {
    background-color: #999999;
}

.divModelSubTitle.titleTable>.titleTableCell {
    padding: 6px 10px;
}

.divModelSubTitle.titleTable>.titleTableCellButton {
    color: #000;
}

.divModelSubTitle.titleTable>.titleTableCellButton:hover {
    background-color: #777;
}

.divModelTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #444;
}

.divProductTitle>.titleTable>.titleTableCellButton:hover, .divRegionTitle>.titleTable>.titleTableCellButton:hover,
.divSupportPlanTitle>.titleTable>.titleTableCellButton:hover, .divAuthLevelTitle>.titleTable>.titleTableCellButton:hover,
.divUserTitle>.titleTable>.titleTableCellButton:hover, .divCurrencyTitle>.titleTable>.titleTableCellButton:hover,
.divRecommendationTitle>.titleTable>.titleTableCellButton:hover, .divFileTitle>.titleTable>.titleTableCellButton:hover,
.divTrainingCourseTitle>.titleTable>.titleTableCellButton:hover, .divLicenseTitle>.titleTable>.titleTableCellButton:hover,
.divCoefficientTitle>.titleTable>.titleTableCellButton:hover, .divOracleLicenseTitle>.titleTable>.titleTableCellButton:hover, .divOracleOptionTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #777;
}

.divOracleLicenseTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #A34646;
}

.divModulesGroup>.divGroupTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #ffbc57;
}
.divServicesGroup>.divGroupTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #777;
}

.divCapacitiesGroup>.divGroupTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #07e8e8;
}

.divModuleTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.divServiceTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.divCapacityTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.divTierTitle>.titleTable>.titleTableCellButton:hover, .divUserAuthLevelTitle>.titleTable>.titleTableCellButton:hover{
    background-color: #dadafc;
}

.divSupportPlanRegionTitle>.titleTable>.titleTableCellButton:hover, .divAuthLevelLevelTitle>.titleTable>.titleTableCellButton:hover,
.divCurrencyRegionTitle>.titleTable>.titleTableCellButton:hover,
.divRegionProductTitle>.titleTable>.titleTableCellButton:hover,
.divUserRegionTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.divDependency.requireDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #b8fea1;
}

.divDependency.requireCapacityDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #ee9cee;
}

.divDependency.excludeDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #feb5b5;
}
.divDependency.recommendationDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #FEFCB5;
}
.divDependency.trainingCourseDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #B5F9FE;
}
.divDependency.oracleLicenseDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #feb5b5;
}
.divDependency.oracleOptionDependency .divDependencyTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #b3b3b3;
}


.serviceDrag:hover, .moduleDrag:hover, .capacityDrag:hover, .groupDrag:hover, .userAuthLevelDrag:hover, .tierDrag:hover, .dependencyDrag:hover, .productDrag:hover {
    background-color: inherit !important;
    cursor: move;
}

.divSettingsPane {
    padding: 10px;
    padding-bottom: 0;
}

.settingInput {
}

.settingsTable {
    width: 90%;
    display: table;
}

.settingsTableRow {
    display: table-row;
}

.settingsTableCell {
    display: table-cell;
    padding-bottom: 5px;
}

.settingsTitle {
    white-space: nowrap;
    padding-right: 5px;
    padding-top: 2px;
    font-style: italic;
    vertical-align: top;
}

.settingsValue {
    width: 100%;
}

.settingsValue input {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    border: 0;
}

.settingsValue textarea {
    width: 100%;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    border: 0;
}

.hasDatepicker {
    width: 100%;
    padding: 2px;
    margin: 2px;
    margin: 0;
    border: 0;
}

.settingsValue select {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 30px;
}

.settingsValueCb {
    text-align: left;
}

.settingsValueCb input {
    margin-left: 0;
}

.divUserTitle .admin {
    color: #66ff00;
}

.deprecated {
    color: #777;
    font-style: italic;
}

.divUserTitle .deprecated {
    color: #aaa;
}

.unclickable {
    background-color: inherit !important;
    cursor: inherit !important;
}

.titleTableCellExpText {
    padding-right: 5px;
}

.titleTableCellExpDate {
    padding-left: 0;
}

.titleTableCellExpDate input {
    width: 100px;
}

.divProductContent {
    display: table;
    width: 100%;
}

.divProductModules, .divProductCapacities {
    display: table-cell;
    width: 50%;
}

.hidden {
    display: none;
}

.titleText {
    white-space: normal;
}

.removeButton {
    color: red;
}

.lockDiv {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.lockDiv .animation {
    border: 1pt solid #000;
    -moz-border-radius: 7pt;
    border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -moz-box-shadow: 0 1pt 0 #fff;
    box-shadow: 0 1pt 0 #fff;
    -webkit-box-shadow: 0 1pt 0 #fff;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 13pt;
    line-height: 50pt;
    height: 50pt;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 100pt;
    margin-left: -50pt;
    text-shadow: 0 1pt 0 #000;
}

input.validate.error, textarea.validate.error {
    background-color: red;
}

.divServicesGroup, .divService, .divModulesGroup, .divModule, .divCapacitiesGroup, .divCapacity, .divSupportPlan, .divAuthLevel, .divCurrency, .divOracleLicense, .divOracleOption, .divCoefficient, .divUser, .divTrainingCourse, .divRecommendation, .divFile {
    background-color: #fff;
}

.divDependency.requireCapacityDependency #divValue {
    display: table-row !important;
}

.divDependency.requireCapacityDependency #divIncremental {
    display: table-row !important;
}

.divDependency.requireCapacityDependency.incremental #divFreeOfCharge {
    display: table-row !important;
}

.tab {
    border-radius: 5pt 5pt 0 0;
    -moz-border-radius: 5pt 5pt 0 0;
    -webkit-border-radius: 5pt 5pt 0 0;
}

.tab.selected, .tab.selected:hover {
    background-color: #999999 !important;
    color: #000 !important;
}

.tab:hover {
    background-color: #444 !important;
    color: #fff !important;
}

.divModelTitle>.titleTable>.titleTableCell {
    padding: 3px 10px;
}

.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-upload-button {
    display: block; /* or inline-block */
}

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 70px;
    z-index: 2;
    text-align: center;
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
}

.qq-upload-list {
    margin: 15px 35px;
    padding: 0;
    list-style: disc;
}

.qq-upload-list li {
    margin: 0;
    padding: 0;
    line-height: 15px;
    font-size: 12px;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size, .qq-upload-cancel {
    font-size: 11px;
}

.qq-upload-failed-text {
    display: none;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

.headerField {
    border: 0 none;
    margin: 0;
    padding: 2px;
}