body {
    font-size: 12px;
    font-family: Arial;
    background-color: #f9f8dd;
    padding: 0;
    margin: 0;
}

.divModelTitle {
    background-color: #000;
    color: white;
}

.divProduct {
    border: 1px solid #000;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fff;
}

.divModelProducts {
    margin: 10px;
}

.divProductTitle {
    background-color: #444;
    color: white;
}

.divProductModules {
    padding: 10px;
    padding-bottom: 0;
}

.divModulesGroup .divModules {
    padding-left: 10px;
    padding-right: 10px;
}

.divModulesGroup .divGroups {
    padding-left: 10px;
    padding-right: 10px;
}

.divModulesGroup {
    border: 1px solid #dec1bf;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divGroupTitle {
    background-color: #efc0bd;
    color: black;
}

.divGroups .divModulesGroup:first-child {
    margin-top: 10px;
}

.divModule {
    border: 1px solid #dbd0d0;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.divModuleTitle {
    background-color: #e7e6e6;
    color: black;
}

.divModules .divModule:first-child {
    margin-top: 10px;
}

.titleTable {
    width: 100%;
    display: table;
}

.titleTableCell {
    display: table-cell;
    padding: 5px 10px;
}

.titleTableCellFill {
    width: 100%;
}

.titleTableCellButton {
    white-space: nowrap;
    cursor: pointer;
}

.divModelTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #444;
}

.divProductTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #777;
}

.divGroupTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #fae2e1;
}

.divModuleTitle>.titleTable>.titleTableCellButton:hover {
    background-color: #f5f5f5;
}

.hidden {
    display: none;
}

.divSettingsPane {
    padding: 5px;
    padding-bottom: 0;
}

.settingInput {
}

.settingsTable {
    width: 50%;
    display: table;
}

.settingsTableRow {
    display: table-row;
}

.settingsTableCell {
    display: table-cell;
    padding-bottom: 5px;
}

.settingsTitle {
    white-space: nowrap;
    padding-right: 5px;
    font-style: italic;
}

.settingsValue {
    width: 100%;
}

.settingsValue input {
    width: 100%;
}

.settingsValueCb {
    text-align: left;
}

.settingsValueCb input {
    margin-left: 0;
}

.deprecated {
    color: #777;
    font-style: italic;
}

.unclickable {
    background-color: inherit !important;
    cursor: inherit !important;
}
.titleTableCellExpText{
    padding-right: 5px;
}
.titleTableCellExpDate{
    padding-left: 0;
}
.titleTableCellExpDate input{
    width: 100px;
}