<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

    <web-app>
        <servlet>
            <servlet-name>data</servlet-name>
            <servlet-class>com.compassplus.PCTServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>data</servlet-name>
            <url-pattern>/data</url-pattern>
        </servlet-mapping>
    
        <welcome-file-list>
            <welcome-file>data</welcome-file>
        </welcome-file-list>

        <security-constraint>
            <display-name>Methods Constraint</display-name>
            <web-resource-collection>
                <web-resource-name>Protected Area</web-resource-name>
                <url-pattern>/*</url-pattern>
                <http-method>DELETE</http-method>
                <http-method>PUT</http-method>
                <http-method>HEAD</http-method>
                <http-method>OPTIONS</http-method>
                <http-method>TRACE</http-method>
                <http-method>PATCH</http-method>
                <http-method>DEBUG</http-method>
                <http-method>TRACK</http-method>
            </web-resource-collection>
            <auth-constraint/>
        </security-constraint>
        <!--<security-constraint>
        <display-name>Auth Constraint</display-name>
        <web-resource-collection>
        <web-resource-name>Protected Area</web-resource-name>
        <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
        <role-name>pctadmin</role-name>
        </auth-constraint>
        </security-constraint>-->
        <security-constraint>
            <display-name>SSL Constraint</display-name>
            <web-resource-collection>
                <web-resource-name>Protected Area</web-resource-name>
                <url-pattern>/*</url-pattern>
            </web-resource-collection>
            <user-data-constraint>
                <transport-guarantee>CONFIDENTIAL</transport-guarantee>
            </user-data-constraint>
        </security-constraint>
        <!--<security-role>
        <role-name>pctadmin</role-name>
        </security-role>
        <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>pctadmin</realm-name>
        </login-config>-->
    </web-app>
