<root>
    <Expiration>10/11/2011</Expiration>
    <Products>
        <Product>
            <Name>TWCMS</Name>
            <MaximumFunctionalityPrice>50000</MaximumFunctionalityPrice>
            <MinimumPrice>100</MinimumPrice>
            <Modules>
                <Module>
                    <Key>Test</Key>
                    <Name>Test OS</Name>
                    <ShortName>Testa OS</ShortName>
                    <Weight>1</Weight>
                    <SecondarySales>
                        <Price></Price>
                        <Rate>2</Rate>
                    </SecondarySales>
                </Module>
                <Group>
                    <Name>System-level Properties</Name>
                    <Modules>
                        <Module>
                            <Dependencies>
                                <Exclude>Linux</Exclude>
                                <Exclude>AIX</Exclude>
                            </Dependencies>
                            <Key>Windows</Key>
                            <Name>Windows OS</Name>
                            <ShortName>Windows OS</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Dependencies>
                                <Exclude>Windows</Exclude>
                                <Exclude>AIX</Exclude>
                            </Dependencies>
                            <Key>Linux</Key>
                            <Name>Linux OS</Name>
                            <ShortName>Linux OS</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Dependencies>
                                <Exclude>Windows</Exclude>
                                <Exclude>Linux</Exclude>
                            </Dependencies>
                            <Key>AIX</Key>
                            <Name>AIX OS</Name>
                            <ShortName>AIX OS</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Key>Fault tolerant Key</Key>
                            <Name>Fault tolerant configuration</Name>
                            <ShortName>Fault tolerant configuration</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Deprecated>true</Deprecated>
                            <Key>VTBI Key</Key>
                            <Name>Versatile Telebanking Interface (VTBI) for Internet and Mobile banking</Name>
                            <ShortName>VTBI</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                    </Modules>
                </Group>
                <Group>
                    <Name>Payment Schemes</Name>
                    <Modules>
                        <Group>
                            <Name>VISA Issuing</Name>
                            <Modules>
                                <Module>
                                    <Key>EMV Visa Key</Key>
                                    <Name>EMV Support</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                                <Module>
                                    <Key>PayWave Visa Key</Key>
                                    <Name>VISA PayWave Support</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                                <Module>
                                    <Key>Direct Visa Key</Key>
                                    <Name>Direct Interface</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                            </Modules>
                        </Group>
                        <Group>
                            <Name>MC Issuing</Name>
                            <Modules>
                                <Module>
                                    <Key>PayPass MC Key</Key>
                                    <Name>MC PayPass Support</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                                <Module>
                                    <Dependencies>
                                        <Require>Windows</Require>
                                        <Exclude>Direct Visa Key</Exclude>
                                    </Dependencies>
                                    <Key>Direct MC Key</Key>
                                    <Name>Direct Interface</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                            </Modules>
                        </Group>
                    </Modules>
                </Group>
            </Modules>
            <Capacities>
                <Group>
                    <Name>Main Metrics</Name>
                    <Capacities>
                        <Capacity>
                            <Deprecated>true</Deprecated>
                            <Key>Multi-Purpose Key</Key>
                            <Name>Number of Multi-Purpose Instances</Name>
                            <Type>1</Type>
                            <Tiers>
                                <Tier>
                                    <Bound>0</Bound>
                                    <Price>0</Price>
                                </Tier>
                                <Tier>
                                    <Bound>1</Bound>
                                    <Price>20000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>2</Bound>
                                    <Price>18000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>3</Bound>
                                    <Price>15000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>4</Bound>
                                    <Price>13000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>5</Bound>
                                    <Price>12000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>6</Bound>
                                    <Price>11000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>7</Bound>
                                    <Price>10000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>8</Bound>
                                    <Price>9500</Price>
                                </Tier>
                                <Tier>
                                    <Bound>9</Bound>
                                    <Price>9000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>10</Bound>
                                    <Price>8600</Price>
                                </Tier>
                                <Tier>
                                    <Bound>11</Bound>
                                    <Price>5000</Price>
                                </Tier>
                            </Tiers>
                        </Capacity>
                        <Capacity>
                            <Key>FIMI Key</Key>
                            <Name>Number of FIMI users</Name>
                            <Type>1</Type>
                            <Tiers>
                                <Tier>
                                    <Bound>0</Bound>
                                    <Price>300</Price>
                                </Tier>
                                <Tier>
                                    <Bound>30</Bound>
                                    <Price>270</Price>
                                </Tier>
                                <Tier>
                                    <Bound>60</Bound>
                                    <Price>240</Price>
                                </Tier>
                                <Tier>
                                    <Bound>90</Bound>
                                    <Price>220</Price>
                                </Tier>
                                <Tier>
                                    <Bound>120</Bound>
                                    <Price>200</Price>
                                </Tier>
                                <Tier>
                                    <Bound>150</Bound>
                                    <Price>180</Price>
                                </Tier>
                                <Tier>
                                    <Bound>180</Bound>
                                    <Price>170</Price>
                                </Tier>
                                <Tier>
                                    <Bound>210</Bound>
                                    <Price>160</Price>
                                </Tier>
                                <Tier>
                                    <Bound>240</Bound>
                                    <Price>150</Price>
                                </Tier>
                                <Tier>
                                    <Bound>270</Bound>
                                    <Price>140</Price>
                                </Tier>
                                <Tier>
                                    <Bound>300</Bound>
                                    <Price>130</Price>
                                </Tier>
                                <Tier>
                                    <Bound>330</Bound>
                                    <Price>100</Price>
                                </Tier>
                            </Tiers>
                        </Capacity>
                        <Capacity>
                            <Key>Additional transactions Key</Key>
                            <Name>Additional transactions per month</Name>
                            <ShortName>ATP</ShortName>
                            <Type>2</Type>
                            <Tiers>
                                <Tier>
                                    <Bound>0</Bound>
                                    <Price>0</Price>
                                </Tier>
                                <Tier>
                                    <Bound>100000</Bound>
                                    <Price>0.14</Price>
                                </Tier>
                                <Tier>
                                    <Bound>300000</Bound>
                                    <Price>0.08</Price>
                                </Tier>
                                <Tier>
                                    <Bound>500000</Bound>
                                    <Price>0.06</Price>
                                </Tier>
                                <Tier>
                                    <Bound>1000000</Bound>
                                    <Price>0.05</Price>
                                </Tier>
                                <Tier>
                                    <Bound>3000000</Bound>
                                    <Price>0.023</Price>
                                </Tier>
                                <Tier>
                                    <Bound>5000000</Bound>
                                    <Price>0.011</Price>
                                </Tier>
                                <Tier>
                                    <Bound>10000000</Bound>
                                    <Price>0.0095</Price>
                                </Tier>
                                <Tier>
                                    <Bound>15000000</Bound>
                                    <Price>0.008</Price>
                                </Tier>
                                <Tier>
                                    <Bound>30000000</Bound>
                                    <Price>0.0065</Price>
                                </Tier>
                                <Tier>
                                    <Bound>60000000</Bound>
                                    <Price>0.0035</Price>
                                </Tier>
                                <Tier>
                                    <Bound>90000000</Bound>
                                    <Price>0.0020</Price>
                                </Tier>
                                <Tier>
                                    <Bound>120000000</Bound>
                                    <Price>0.0012</Price>
                                </Tier>
                                <Tier>
                                    <Bound>200000000</Bound>
                                    <Price>0.0010</Price>
                                </Tier>
                                <Tier>
                                    <Bound>999999999</Bound>
                                    <Price>0.0008</Price>
                                </Tier>
                            </Tiers>
                        </Capacity>
                    </Capacities>
                </Group>
            </Capacities>
        </Product>
        <Product>
            <Name>TWO</Name>
            <MaximumFunctionalityPrice>50000</MaximumFunctionalityPrice>
            <MinimumPrice>100</MinimumPrice>
            <Modules>
                <Group>
                    <Name>System-level Properties</Name>
                    <Modules>
                        <Module>
                            <Dependencies>
                                <Exclude>Linux</Exclude>
                                <Exclude>AIX</Exclude>
                            </Dependencies>
                            <Key>Windows</Key>
                            <Name>Windows OS</Name>
                            <ShortName>Windows OS</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Dependencies>
                                <Exclude>Windows</Exclude>
                                <Exclude>AIX</Exclude>
                            </Dependencies>
                            <Key>Linux</Key>
                            <Name>Linux OS</Name>
                            <ShortName>Linux OS</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Dependencies>
                                <Exclude>Windows</Exclude>
                                <Exclude>Linux</Exclude>
                            </Dependencies>
                            <Key>AIX</Key>
                            <Name>AIX OS</Name>
                            <ShortName>AIX OS</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Key>Fault tolerant Key</Key>
                            <Name>Fault tolerant configuration</Name>
                            <ShortName>Fault tolerant configuration</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                        <Module>
                            <Deprecated>true</Deprecated>
                            <Key>VTBI Key</Key>
                            <Name>Versatile Telebanking Interface (VTBI) for Internet and Mobile banking</Name>
                            <ShortName>VTBI</ShortName>
                            <Weight>1</Weight>
                            <SecondarySales>
                                <Price></Price>
                                <Rate>2</Rate>
                            </SecondarySales>
                        </Module>
                    </Modules>
                </Group>
                <Group>
                    <Name>Payment Schemes</Name>
                    <Modules>
                        <Group>
                            <Name>VISA Issuing</Name>
                            <Modules>
                                <Module>
                                    <Key>EMV Visa Key</Key>
                                    <Name>EMV Support</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                                <Module>
                                    <Key>PayWave Visa Key</Key>
                                    <Name>VISA PayWave Support</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                                <Module>
                                    <Key>Direct Visa Key</Key>
                                    <Name>Direct Interface</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                            </Modules>
                        </Group>
                        <Group>
                            <Name>MC Issuing</Name>
                            <Modules>
                                <Module>
                                    <Key>PayPass MC Key</Key>
                                    <Name>MC PayPass Support</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                                <Module>
                                    <Dependencies>
                                        <Require>Windows</Require>
                                        <Exclude>Direct Visa Key</Exclude>
                                    </Dependencies>
                                    <Key>Direct MC Key</Key>
                                    <Name>Direct Interface</Name>
                                    <Weight>1</Weight>
                                    <SecondarySales>
                                        <Price></Price>
                                        <Rate>2</Rate>
                                    </SecondarySales>
                                </Module>
                            </Modules>
                        </Group>
                    </Modules>
                </Group>
            </Modules>
            <Capacities>
                <Group>
                    <Name>Main Metrics</Name>
                    <Capacities>
                        <Capacity>
                            <Deprecated>true</Deprecated>
                            <Key>Multi-Purpose Key</Key>
                            <Name>Number of Multi-Purpose Instances</Name>
                            <Type>1</Type>
                            <Tiers>
                                <Tier>
                                    <Bound>0</Bound>
                                    <Price>0</Price>
                                </Tier>
                                <Tier>
                                    <Bound>1</Bound>
                                    <Price>20000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>2</Bound>
                                    <Price>18000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>3</Bound>
                                    <Price>15000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>4</Bound>
                                    <Price>13000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>5</Bound>
                                    <Price>12000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>6</Bound>
                                    <Price>11000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>7</Bound>
                                    <Price>10000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>8</Bound>
                                    <Price>9500</Price>
                                </Tier>
                                <Tier>
                                    <Bound>9</Bound>
                                    <Price>9000</Price>
                                </Tier>
                                <Tier>
                                    <Bound>10</Bound>
                                    <Price>8600</Price>
                                </Tier>
                                <Tier>
                                    <Bound>11</Bound>
                                    <Price>5000</Price>
                                </Tier>
                            </Tiers>
                        </Capacity>
                        <Capacity>
                            <Key>FIMI Key</Key>
                            <Name>Number of FIMI users</Name>
                            <Type>1</Type>
                            <Tiers>
                                <Tier>
                                    <Bound>0</Bound>
                                    <Price>300</Price>
                                </Tier>
                                <Tier>
                                    <Bound>30</Bound>
                                    <Price>270</Price>
                                </Tier>
                                <Tier>
                                    <Bound>60</Bound>
                                    <Price>240</Price>
                                </Tier>
                                <Tier>
                                    <Bound>90</Bound>
                                    <Price>220</Price>
                                </Tier>
                                <Tier>
                                    <Bound>120</Bound>
                                    <Price>200</Price>
                                </Tier>
                                <Tier>
                                    <Bound>150</Bound>
                                    <Price>180</Price>
                                </Tier>
                                <Tier>
                                    <Bound>180</Bound>
                                    <Price>170</Price>
                                </Tier>
                                <Tier>
                                    <Bound>210</Bound>
                                    <Price>160</Price>
                                </Tier>
                                <Tier>
                                    <Bound>240</Bound>
                                    <Price>150</Price>
                                </Tier>
                                <Tier>
                                    <Bound>270</Bound>
                                    <Price>140</Price>
                                </Tier>
                                <Tier>
                                    <Bound>300</Bound>
                                    <Price>130</Price>
                                </Tier>
                                <Tier>
                                    <Bound>330</Bound>
                                    <Price>100</Price>
                                </Tier>
                            </Tiers>
                        </Capacity>
                        <Capacity>
                            <Key>Additional transactions Key</Key>
                            <Name>Additional transactions per month</Name>
                            <ShortName>ATP</ShortName>
                            <Type>2</Type>
                            <Tiers>
                                <Tier>
                                    <Bound>0</Bound>
                                    <Price>0</Price>
                                </Tier>
                                <Tier>
                                    <Bound>100000</Bound>
                                    <Price>0.14</Price>
                                </Tier>
                                <Tier>
                                    <Bound>300000</Bound>
                                    <Price>0.08</Price>
                                </Tier>
                                <Tier>
                                    <Bound>500000</Bound>
                                    <Price>0.06</Price>
                                </Tier>
                                <Tier>
                                    <Bound>1000000</Bound>
                                    <Price>0.05</Price>
                                </Tier>
                                <Tier>
                                    <Bound>3000000</Bound>
                                    <Price>0.023</Price>
                                </Tier>
                                <Tier>
                                    <Bound>5000000</Bound>
                                    <Price>0.011</Price>
                                </Tier>
                                <Tier>
                                    <Bound>10000000</Bound>
                                    <Price>0.0095</Price>
                                </Tier>
                                <Tier>
                                    <Bound>15000000</Bound>
                                    <Price>0.008</Price>
                                </Tier>
                                <Tier>
                                    <Bound>30000000</Bound>
                                    <Price>0.0065</Price>
                                </Tier>
                                <Tier>
                                    <Bound>60000000</Bound>
                                    <Price>0.0035</Price>
                                </Tier>
                                <Tier>
                                    <Bound>90000000</Bound>
                                    <Price>0.0020</Price>
                                </Tier>
                                <Tier>
                                    <Bound>120000000</Bound>
                                    <Price>0.0012</Price>
                                </Tier>
                                <Tier>
                                    <Bound>200000000</Bound>
                                    <Price>0.0010</Price>
                                </Tier>
                                <Tier>
                                    <Bound>999999999</Bound>
                                    <Price>0.0008</Price>
                                </Tier>
                            </Tiers>
                        </Capacity>
                    </Capacities>
                </Group>
            </Capacities>
        </Product>
    </Products>
</root>
